<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="#" class="site_title"><span></span></a>
            </div>

            <div class="clearfix"></div>
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Control Correspondencia</h3>
                <ul class="nav side-menu">
                  <li><a th:href="@{/}"><i class="fas fa-home fa-2x"></i></br>Principal</a><span class="label label-success pull-right"></li>
                  <li><a><i class="fas fa-folder-open fa-2x"></i></br>Expediente <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/expediente/agregar}">Agregar</a></li>
                      <li><a th:href="@{/expediente/modificar}">Modificar</a></li>
                      <li><a th:href="@{/expediente/buscar}">Buscar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fas fa-envelope-open-text fa-2x"></i></br>Recibida <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/recibida/agregar}">Agregar</a></li>
                      <li><a th:href="@{/recibida/modificar}">Modificar</a></li>
                      <li><a th:href="@{/recibida/buscar}">Buscar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fas fa-envelope fa-2x"></i></br>Enviada <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/enviada/agregar}">Agregar</a></li>
                      <li><a th:href="@{/enviada/modificar}">Modificar</a></li>
                      <li><a th:href="@{/enviada/buscar}">Buscar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fas fa-book-open fa-2x"></i></br>Catalogos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/area/listar}">Area</a></li>
                      <li><a th:href="@{/cargo/listar}" >Cargo</a></li>
                      <li><a th:href="@{/carpetaFisica/listar}" >Carpeta Física</a></li>
                      <li><a th:href="@{/estatus/listar}">Estatus</a></li>
                      <li><a th:href="@{/instruccion/listar}" >Instrucción</a></li>
                      <li><a th:href="@{/medio/listar}" >Medio</a></li>
                      <li><a th:href="@{/persona/listar}" >Persona</a></li>
                      <li><a th:href="@{/prioridad/listar}">Prioridad</a></li>
                      <li><a th:href="@{/seccion/listar}" >Sección</a></li>
                      <li><a th:href="@{/subSeccion/listar}" >Subsección</a></li>
                      <li><a th:href="@{/serie/listar}" >Serie</a></li>
                      <li><a th:href="@{/subSerie/listar}">Subserie</a></li>
                      <li><a th:href="@{/anexo/listar}">Tipo anexo</a></li>
                      <li><a th:href="@{/tipoDocumento/listar}">Tipo documento</a></li>
                    </ul>
                  </li>
                 </ul>
              </div>
              <br>
              <div class="menu_section">
                <h3>Ayuda</h3>
                <ul class="nav side-menu">
                  <li><a href="#"><i class="fas fa-info fa-2x"></i></br>Acerca de</a><span class="label label-success pull-right"></li>
                  <li><a href="#"><i class="fas fa-book-reader fa-2x"></i></br>Manual</a><span class="label label-success pull-right"></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

</body>
</html>