<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<form th:action="@{/expediente/guardar}" th:object="${expediente}"
		method="post">

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Fecha:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<input type="hidden" th:field="*{idExpediente}"> <input
					th:type="date" th:field="*{fechaApertura}" id="fechaApertura"
					name="fechaApertura" class="date-picker form-control"
					required="required" />
			</div>
		</div>


		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Nombre:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<input th:type="text" th:field="*{nombreExpediente}"
					id="nombreExpediente" name="nombreExpediente" required="required"
					class="form-control"
					onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" />
			</div>
		</div>

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Fondo:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select th:field="*{idFondo.id}" id="idFondo" name="idFondo"
					class="form-control" title="Fondo" data-size="7"
					required="required">
					<option th:each="idfondo : ${listFondos}" th:value="${idfondo.id}"
						th:utext="${idfondo.nombre}" />
				</select>

			</div>
		</div>

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Sección:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select th:field="*{idSeccion.id}" id="idSeccion" name="idSeccion"
					class="form-control" title="Sección" data-size="7"
					required="required">
					<option th:each="idSeccion : ${listSecciones}"
						th:value="${idSeccion.id}" th:utext="${idSeccion.nombre}" />
				</select>

			</div>
		</div>

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">SubSección:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select  id="idSubSeccion"
					name="idSubSeccion" class="form-control" title="SubSección"
					data-size="7" required="required">
					<option 
						th:each="idSubSeccion : ${listSubSecciones}"
						th:selected=${idSubSeccion.id} 
						th:value="${idSubSeccion.id}" 
						th:utext="${idSubSeccion.nombre}" />
				</select>

			</div>
		</div>


		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Serie:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select th:field="*{idSerie.id}" id="idSerie" name="idSerie"
					class="form-control" title="Serie" data-size="7"
					required="required">
					<option th:each="idSerie : ${listSeries}" th:value="${idSerie.id}"
						th:utext="${idSerie.nombre}" />
				</select>

			</div>
		</div>

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">SubSerie:
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select th:field="*{idSubSerie.id}" id="idSubSerie"
					name="idSubSerie" class="form-control" title="SubSerie"
					data-size="7" required="required">
					<option th:each="idSerie : ${listSubSeries}"
						th:value="${idSerie.id}" th:utext="${idSerie.nombre}" />
				</select>

			</div>
		</div>

		<div class="form-group row ">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Carpeta
				física: <span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6 ">
				<select th:field="*{idCarpetaFisica.id}" id="idCarpetaFisica"
					name="idCarpetaFisica" class="form-control" title="CarpetaFisica"
					data-size="7" required="required">
					<option th:each="idCarpetaFisica : ${listCarpetaFisica}"
						th:value="${idCarpetaFisica.id}"
						th:utext="${idCarpetaFisica.nombre}" />
				</select>

			</div>
		</div>



		<div class="ln_solid"></div>
		<div class="item form-group">
			<div class="col-md-6 col-sm-6 offset-md-3">
				<button class="btn btn-primary" type="button">Cancel</button>
				<button class="btn btn-primary" type="reset">Borrar</button>
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>
		</div>

	</form>

</body>
</html>